<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GloFlow - Docs</title>

        <link rel="stylesheet" type="text/css" href="/static/css/docs_table_of_contents.css"/>
    </head>
    <body>

        <div id="sections">
            {% for section_name_str, section_files_lst in sections_docs_html_files_map.items() %}

            <div class="section">
                <div class="section_title">{{ section_name_str }}</div>
                <div class="files">
                {% for file_url_str in section_files_lst %}
                    <div class="file">
                        <a class="file_url" href="{{ file_url_str }}">{{ os.path.basename(file_url_str).split(".")[0].replace("_", " ") }}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            
            {% endfor %}
        </div>
        <div id="godoc">
            <div id="godoc_link">Golang GoDoc's on <a href="https://pkg.go.dev/github.com/gloflow/gloflow">pkg.go.dev</a></div>
            <div>guidelines for writing good docs are <a href="https://go.dev/blog/godoc">here</a></div>
        </div>

    </body>
</html>