<html>
    <head>
        <title>GloFlow docs table-of-contents</title>

        <link rel="stylesheet" type="text/css" href="/static/css/docs_table_of_contents.css"/>
    </head>
    <body>

        <div id="sections">
            {% for section_name_str, section_files_lst in sections_docs_html_files_map.items() %}

            <div class="section">
                <div class="section_title">{{ section_name_str }}</div>
                <div class="files">
                {% for file_url_str in section_files_lst %}
                    <a class="file_url" href="{{ file_url_str }}">{{ os.path.basename(file_url_str).split(".")[0].replace("_", " ") }}</a>
                {% endfor %}
                </div>
            </div>
            
            {% endfor %}
        </div>

    </body>
</html>